@import '~antd/dist/antd.css';

.logo {
  float: left;
  width: 120px;
  height: 31px;
  background: transparent;
}

h1 {
  font-size: 30px;
  color: aliceblue;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}
