@import '~antd/dist/antd.css';

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  float: left;
  width: 120px;
  height: 31px;
  background: transparent;
}

h1 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
  padding-left: 2%;
}

h1,
h3 {
  color: aliceblue;
  display: inline;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.main {
  padding: 10% 10% 5% 10%;
}

.content {
  padding: 0 24px;
  min-height: 300px;
}

.content-data {
  padding: 20%;
}

.cart {
  margin-top: 0.7em;
  color: white;
  font-size: 2em;
  float: right;
  cursor: pointer;
}

.side-spin {
  margin: 10%;
  padding: 50% 40%;
}
